<!-- Navbar goes here -->
<%= render partial: "template/page_top_main" %>
<!-- Page Layout here -->
<div class="row">

  <div class="col s3" id="side">
    <%= render partial: "template/side_navi" %>
  </div>

  <div class="col s9">
    <!-- Teal page content  -->
  </div>

</div>